include README.rst
include LICENSE.txt
include pyproject.toml

# include test modules in pyerna directory
recursive-include pyerna tests/* tests/data/*
recursive-include pyerna testfiles/*

# exclude compiled bytecode
global-exclude *.pyc
# exclude git backup files
global-exclude *.orig

# versioneer
include versioneer.py
include pyerna/_version.py

# setup stuff
include setup_util.py

# sources of extensions (incl. cython)
recursive-include pyerna *.pyx *.h *.c

# do not include eventually present eggs (installed during setup runtime)
prune .eggs

recursive-include ext/pybind11/include *.h

exclude pyerna/thermo/extensions/mbar/mbar.c \
    pyerna/thermo/extensions/dtram/dtram.c \
    pyerna/thermo/extensions/mbar_direct/mbar_direct.c \
    pyerna/thermo/extensions/trammbar_direct/trammbar_direct.c \
    pyerna/thermo/extensions/util/util.c \
    pyerna/thermo/extensions/bar/bar.c \
    pyerna/thermo/extensions/trammbar/trammbar.c \
    pyerna/thermo/extensions/tram/tram.c \
    pyerna/thermo/extensions/wham/wham.c \
    pyerna/thermo/extensions/tram_direct/tram_direct.c \
    pyerna/_ext/orderedset/_orderedset.c \
    pyerna/_ext/variational/solvers/eig_qr/eig_qr.c \
